{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-inferred-empty-object-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/strict-type-predicates": 0,
    "@typescript-eslint/typeof-compare": 0,
    "no-console": 0,
    "no-magic-numbers": 0,
    "no-prototype-builtins": 0,
    "require-atomic-updates": 0,
    "ban-ts-ignore": 0,
    "no-empty-interface": 0,
    "no-prefer-const": 0
  },
  "settings":  {
    "react":  {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
