{
  "arrowParens": "always",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "printWidth": 80,
  "proseWrap": "preserve",
  "requirePragma": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "bracketSpacing": false,
  "semi": false
}
