
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 30vh;
  width: 265px;
}

.App-header {
  background: radial-gradient(circle, rgba(32,91,244,1) 0%, rgba(190,111,186,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f9f9f9;
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
