@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,700&display=swap');
@import "~font-awesome/scss/font-awesome";

// Variables

$primaryColor: #3181b6;
$secondaryColor: #a579aa;
$white: #f1f1f1;
$fontSize: 18px;


// Main page styles 

.App {
  text-align: center;
}

.App-logo {
  height: 12em;
  width: 12em;
}

.App-header {
  background: $secondaryColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
  font-family: 'Hind', sans-serif;
}

.section {
  background: #69afc0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}

.transition-gradient {
  height: 200px;
  background-image: linear-gradient(#a579aa, #69afc0);
}

// Pet Name header text

.pet-name {
  margin-bottom: 2em;
}

.pet-name-header {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1em;
}

// Button Styles

.btn {
  color: $white !important;
  font-size: $fontSize;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  padding: 8px 10px;
  border: 3px solid $white;
  display: inline-block;
  transition: all 0.4s ease 0s;

    &-submit {
      font-size: 17px;
      padding: 9px 10px;
    }
  }

.btn:hover {
  color: #ffffff;
  background: $primaryColor;
  border: 3px solid $primaryColor;
  transition: all 0.4s ease 0s;
}

// Pet Name Ranked List

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.pet-name-list {
  font-size: 1.4em;
  color: $white;
}

input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding: 10px 20px 10px 8px;
  font-size: 16px;
  background: none;
  color: $white;
  border: 3px solid $white;
}

input[type=text]::placeholder {
  color: $white;
  opacity: .6;
}


input[type=text]:focus {
  border: 3px solid $white;
  outline-width: 0;
  color: $white;

  &::placeholder {
    opacity: 8;
  }
}

.add-name-container {
  margin: 100px 10px;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

// Toggle search

.toggle-container {
  margin: 20px 10px;
  display: flex;
}

.input-container {
  display: flex;
  flex: 1;
}

// Greeting Text

.speech-bubble {
	position: relative;
	background: $white;
  border-radius: .8em;
  width: 40%;
  margin: -2em 0 5em 42%;

  &-text {
    color: #000;
    padding: 5px;
    font-weight: 300;
  }
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: $white;
	border-top: 0;
	border-left: 0;
  margin-left: 5px;
  margin-top: -15px;
}

// Random Name Generator

.random-name {
  margin: -1em 0 4em 0;

  &-title {
    font-size: 2em;
    margin: 0;
  }

  &-p {
    padding: 0;
    margin: 0;
  }
}


// Portal

.portal-container {
  background-color: #957DAD;
  padding: 3em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Floating Paw 

.fas .fa-paw {
  font-size: 30px;
}

.font-awesome-paw {
  font-size: .9rem;
}

// Pluse animation for paw

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}
